<div>
osady istniały tu przed najazdem Mongołów
<div></div>
1243

pierwsza wzmianka o Biskupicach, osadzie na terenie dzisiejszego Zabrza
<div></div>
25 marca – wystawienie przez księżną kaliską Wiolę dokumentu, w którym zrzeka się na rzecz biskupa wrocławskiego prawa poboru daniny i innych opłat ville [...] Biscupici dicitur cirka Bitom
<div></div>
1260 – rozszerzenie przez księcia opolskiego Władysława przywilejów, nadanych biskupowi wrocławskiemu w 1243. Przyczyniło się to do zwiększenia osadnictwa w rejonie Biskupic
<div></div>
1295–1305
pierwsza wzmianka o Zabrzu (Sadbre sive Cunczindorf, gdzie Sadbre interpretowane jest jako miejsce za debrami – zarośniętymi dołami z płynącym wśród wzgórz strumieniem; sive to łacińskie „albo”, a Cunczindorf jest interpretowane jako „wieś Konradów”); w dokumencie Rejestr Ujazdu części Liber fundationis episcopatus Wratislawiensis (Księga uposażeń biskupstwa wrocławskiego), dokument wymienia wśród innych osad: Biskupice, Zaborze, Grzybowice[11]
sołtys tworzy osadę, chłopi wolni od podatków, tereny przydzielone osadnikom – po 60 łanów
<div></div>
1570 – właścicielem Zabrza został czeski szlachcic Szambor Dluhomil, który po zagarnięciu części ziemi chłopskiej założył alodium z drewnianym dworem
<div></div>
1639 – w okresie wojny trzydziestoletniej w Zabrzu i Sośnicy wojska Ernsta von Mansfelda grabią żywność
<div></div>
1642 – nowym właścicielem został Aleksander Bielski, który na miejscu drewnianego zbudował murowany piętrowy dwór, stajnie, owczarnię, słodownię i gorzelnię
<div></div>
1672 – Zabrze zamieszkiwało jedynie 34 gospodarzy[11]
<div></div>
1675 – nabycie dóbr zabrzańskich przez kanclerza księstwa opolsko-raciborskiego, barona Jerzego Welczka (Wilczka). Działalność Welczka i jego następców (wśród nich m.in. Bernhard III hrabia von Praschma) przyczyniła się do rozwoju gospodarczego tych terenów. W Zabrzu powstał browar, młyny wodne, tartaki
<div></div>
1731 – przy obecnej ul. Kondratowicza istniała kolonia nazywana Zabrzer Hammer (Kuźnica)
<div></div>
1743 – utworzenie w ramach wprowadzania nowego podziału administracyjnego Śląska powiatu bytomskiego. W jego skład weszły: Biskupice, Grzybowice, Makoszowy, Mikulczyce, Rokitnica, Zaborze i Zabrze wraz z istniejącymi w tym czasie koloniami i przysiółkami
<div></div>
1749 – właścicielami Zabrza zostaje ród Duninów
<div></div>
1769–1790 – właścicielem dóbr zabrzańskich jest Mathias von Wilczek[11] (Maciej Wilczek) w trakcie kolonizacji fryderycjańskiej nowych osad wokół Zabrza: Maciejowa, Doroty i Małego Zabrza. W pobliżu zabrzańskiego dworu powstała następna kolonia, nazywana początkowo Sand Kolonie (Kolonia Piaskowa) bądź Schloss Kolonie (Kolonia Zamkowa). Z czasem uzyskała urzędową nazwę Klein Zabrze, czyli Małe Zabrze. Jako ostatnią utworzono osadę Kończyce
<div></div>
1790 – odkrycie przez Salomona Isaaca z Brabancji na pograniczu dzielnic Zaborze i Pawłów łatwych w eksploatacji złóż węgla kamiennego o grubości 1 metra
<div></div>
1792–1822 – powstanie Kanału Kłodnickiego
<div></div>
1793
powstanie chłopskie
według spisu z tego roku Zabrze obejmowało: majątek ziemski, kościół, szkoła, 34 chłopów, 6 zagrodników, 2 młyny, 32 pracowników najemnych – łącznie 305 mieszkańców; Małe Zabrze: kolonia 12 zagród z 31 mieszkańcami; Zaborze: majątek ziemski, 15 chłopów, 7 zagrodników, 14 pracowników najemnych
<div>[...]
</div>
2018
14 września – uruchomiono po rewitalizacji Sztolnię Królowa Luiza. (Jest to najdłuższy szlak wodny pod ziemią w Europie).
</div>