html{
    background-color: burlywood;
   
}
table{
    text-align: center;
    
}
tr{
    background-color:bisque;
    border: 2px solid black;
}
div{
    background-color: bisque;
    width:fit-content;
    height: fit-content;
}
h1{
    text-align: center;
    background-color: bisque;
}